html{
    font-family: 'Roboto', sans-serif;
}


#html{
    color: rgba(255, 132, 0, 0.957);
}

#css{
    color: rgba(0, 166, 255, 0.845);
}

.name{
    color: white;
    text-align: center;
    background-color: black;
    height: 50px;
    border-radius: 10px;
}

.image{
    height: 150px;
    border: 5px solid black;
    border-radius: 20px;
}

.job{
    text-decoration: underline;
    font-weight: bold;
}